---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About | Pranjal Rane"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About me!</h1>
	<p class="mb-4 sm:mb-8">
		Back in my school days, as most of my friends were busy figuring out PlayStation controls, I found myself more fascinated by puzzles and patterns which led me into the captivating world of coding. Starting off with simple scripts to automate mundane tasks, I quickly found myself diving deeper into the realms of software development and cloud technologies. Today, I'm a Full Stack Software Engineer with a knack for creating scalable, production-grade software solutions, currently sharpening my skills at Northeastern University in Boston.
	</p>

	<p class="mb-4 sm:mb-8">
		These days, I'm engrossed in optimizing how data interacts in the cloud and enhancing user engagement with AI-driven insights at my internships, ranging from an innovative startup to major corporations like Cummins Inc. I thrive at the intersection of efficiency and innovation, constantly pushing the boundaries of what AI and machine learning can achieve in real-world applications.
	</p>

	<p class="mb-4 sm:mb-8">
		When I'm not coding or cloud-busting, you can find me on the football field showing the same passion and strategy I bring to my software projects. A hardcore Manchester United supporter, I live and breathe football, always ready to discuss the latest match or that classic game. Off the field, I'm either tackling algorithms like they're opposing team defenders or enjoying a strategic deep dive into my latest tech project.
	</p>

	<p class="mb-4 sm:mb-8">
		Whether I'm building accessible user interfaces or developing APIs that seamlessly connect thousands of data points, I bring the same energy and precision as I do when cheering from the stands at Old Trafford. So, if you're looking for someone to bring that championship mentality to your tech team or just chat about the latest in tech and football, I'm your guy!
	</p>
</Layout>

